@charset "UTF-8";

section.container {
    display: flex;
    padding: 10px;
    text-align: center; 
    
}

div#botao {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    background-image: linear-gradient(to top, gray, white);
}

